.Section2{
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    justify-content: center;
}

.Section2-Container{
    display: flex;
    justify-content: center;
}

.title{
    padding-bottom: 30px;
}

.carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .images-line {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10%;
    padding: 0 10%;
  }
  
  .images-line img {
    width: 100%;
    height: auto;
  }
  
  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 1;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }

  @media (max-width: 676px){
    .images-line {
      display: block;
      gap: 20%;
      padding: 0 20%;
    }
    
  }

