.section5-container {
    text-align: center;
    padding: 40px 20px;
    background-color: #111;
    color: white;
}

.section5-container h2 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.simulation {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.country-weight {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.country, .weight {
    margin-bottom: 20px;
}

.country p{
    margin-bottom: 10px;
}

.flags img {
    width: 40px;
    height: 40px;
    margin: 0 10px;
}

.weight-options {
    display: flex;
    align-items: center;
}

.weight-options select, .weight-options button {
    margin: 0 10px;
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
}

.weight p{
    margin-bottom: 10px;
}

.inputButtonWeight{
    border-radius: 5px;
}

.simulate-button {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #004780;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

.simulate-button:hover {
    background-color: #013057;
}

.plans {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.plan1 {
    background-color: #242424;
    padding: 20px;
    margin: 10px 20px;
    border-radius: 30px;
    max-width: 300px;
    text-align: left;
}

.plan1 h3 {
    font-size: 1.5rem;
    color: #ffc861;
    margin-bottom: 10px;
}

.plan1 p {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 20px;
}

.plan1 ul {
    list-style: none;
    padding: 0;
}

.plan1 ul li {
    margin-bottom: 10px;
    color: #cfcfcf;
}


.plan2 {
    background-color: #242424;
    padding: 20px;
    margin: 10px 20px;
    border-radius: 30px;
    max-width: 300px;
    text-align: left;
}

.plan2 h3 {
    padding-top: 35px ;
    font-size: 1.5rem;
    color: #ffcfdb;
    margin-bottom: 10px;
}

.plan2 p {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 20px;
}

.plan2 ul {
    list-style: none;
    padding: 0;
}

.plan2 ul li {
    margin-bottom: 10px;
    color: #cfcfcf;
}

.plan3 {
    background-color: #242424;
    padding: 20px;
    margin: 10px 20px;
    border-radius: 30px;
    max-width: 300px;
    text-align: left;
}

.plan3 h3 {
    padding-top: 35px ;
    font-size: 1.5rem;
    color: #a6b8cc;
    margin-bottom: 10px;
}

.plan3 p {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 20px;
}

.plan3 ul {
    list-style: none;
    padding: 0;
}

.plan3 ul li {
    margin-bottom: 10px;
    color: #cfcfcf;
}

.barraSimulate1{
    margin-bottom: 20px;
    border: #ffc861 1px solid;
}

.barraSimulate2{
    margin-bottom: 20px;
    border: #ffcfdb 1px solid;
}

.barraSimulate3{
    margin-bottom: 20px;
    border: #a6b8cc 1px solid;
}

.best-seller {
    background-color: #28a745;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    margin-bottom: 10px;
    display: inline-block;
}
