:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-color: rgb(245, 245, 245);
    overflow-x: hidden;
  }
  
  @font-face {
    font-family: 'Futura-Condensed';
    src: url('/FUTURA-CONDENSED-EXTRA-BOLD.OTF') format('opentype');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'Proxima-Nova';
    src: url('/Mark Simonson  Proxima Nova Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'Proxima-Nova';
    src: url('/Mark Simonson  Proxima Nova Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Proxima-Nova';
    src: url('/Mark Simonson  Proxima Nova Semibold.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'Proxima-Nova';
    src: url('/Mark Simonson  Proxima Nova Thin.otf') format('opentype');
    font-weight: thin;
    font-style: normal;
  }

  @font-face {
    font-family: 'Futura-Condensed';
    src: url('/ProximaNova-Medium.otf') format('opentype');
    font-weight: medium;
    font-style: normal;
  }

  